<!-- 后台页面公用布局 -->
<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <!-- 后台页面公用样式 -->
  <%= render 'layouts/admin_css' %>
  <!-- 引入各自页面的js -->
  <%= javascript_include_tag params[:controller] %>
   <!-- 引入各自页面的css -->
  <%= stylesheet_link_tag params[:controller] %>
  <!-- 防止 csrf 攻击 -->
  <%= csrf_meta_tags %>
  <!-- 帮助 Internet Explorer 识别和呈现 HTML5 元素 -->
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="container-fluid">
  	<%= render 'layouts/admin_header' %>
  	<%= yield %>
  	<%= render 'layouts/admin_footer' %>
  </div><!--/.fluid-container-->
  <!-- 后台页面公用js -->
  <%= render 'layouts/admin_js' %>
</body>
</html>